body,
html {
  width: 100%;
  height: 100%;
}

#unmute-button {
  top: 0;
  left: 0;
}

#log {
  width: 100%;
  height: 5%;
  overflow: auto;
  border: 1px solid lightgrey;
}

#controls {
  width: 100%;
  height: 75%;
  border: 1px solid lightgrey;
}

#controls canvas[nx="string"] {
  width: 100%;
  height: 100%;
}
